version: '3.8'

services:
  web:
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
      - redis
    networks:
      - common_network

  celery:
    build:
      context: ./
      dockerfile: Dockerfile
    entrypoint: []
    command: celery -A config worker --loglevel=INFO
    volumes:
      - ./:/app
    env_file:
      - ./.env.dev
    depends_on:
      - web
      - redis
    networks:
      - common_network

  celery_beat:
    build:
      context: ./
      dockerfile: Dockerfile
    entrypoint: []
    command: celery -A config beat --loglevel=INFO
    volumes:
      - ./:/app
    env_file:
      - ./.env.dev
    depends_on:
      - web
      - redis
    networks:
      - common_network

  db:
    image: postgres:14.0-alpine
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data/
    env_file:
      - .env.dev.db
    networks:
      - common_network
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  

  redis:
    restart: unless-stopped
    image: redis:7.0.5-alpine 
    networks:
      - common_network
    ports:
      - 6379:6379

  flower:
    build:
      context: ./
      dockerfile: Dockerfile
    entrypoint: [] 

    command: >
      celery -A config flower
      --broker=redis://redis:6379/0
      --address=0.0.0.0
      --port=5555
    ports:
      - 5555:5555
    depends_on:
      - redis
      - celery
    env_file:
      - ./.env.dev
    networks:
      - common_network

volumes:
  postgres_data_staging:

networks:
  common_network:
    external:
      name: custom_net
